@font-face
 {
 	font-family: "GothamBold";
 	src: url("../GOTHAM-BOLD.TTF");
}

@font-face
 {
 	font-family: "GothamLight";
 	src: url("../GOTHAM-LIGHT.TTF");
}




body {
	margin: 0;
	padding: 0;
	background: #EDE7F6;
	overflow-x: hidden;
}

#menu
{
	//background-color: #AA00FF;
	/color: white;
}

.gotham-bold
{
	font-family:GothamBold;
}

.gotham-light
{
	font-family:GothamLight
}

#main {
	position: absolute;
	top: 0px;
	//left: 300px;
	color: #fff;
	//background: #81D4FA;
	//font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	z-index: 1;
	//width:70%
}

#subject-label
{
	width:50%;
	position:absolute;
	//margin-top: -1000px;
	background-color: #E1BEE7 ;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	z-index: 1;
}
#subject-valid
{
  background-color: #AA00FF;
}

#homework-label
{
	background-color: #90CAF9;
	position: absolute;
	z-index: 1;

}

#subject-label input
{
	position: relative;
	//width: 200%;
}
