body {
	margin: 0;
	padding: 0;
	background: #243342;
}

#main {
	position: absolute;
	top: 0px;
	left: 300px;
	color: #fff;
	background: #81D4FA;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	z-index: 1;
	width:70%
}

#subject-label
{
	width:50%;
	position:absolute;
	//margin-top: -1000px;
	background-color: #EEEEEE;
	//padding-left: 200%;
	//padding-right: 200%;
	//padding-top: 50%;
	z-index: 1;
}

#homework-label
{
	background-color: #90CAF9;
	position: absolute;
	z-index: 1;

}

#subject-label input
{
	position: relative;
	//width: 200%;
}
